body {
    background-color: #6ff6ff;
    font-family: 'Roboto', sans-serif;
}

table {
    width: 100%;
}

[type="header"] {
    color: #8f8f8f;
}

h1 {
    margin-left: 37%;
	font: 60px;
}

h2 {
    margin-left: 2em;
    font-size: 25pt;
}

h3 {
    font-size: 15pt;
}

img {
     border: "0";
}

pre {
    font-size: 14pt;
}

.c1 {
    color: #8f8f8f;
    margin-left: 1em;
    font-size: 18pt;
}

td {
    width: "100";
}

li, p {
	padding:5px 5px;
    text-align: justify;
}