h1 {
    color: #5090ff  ;
    margin-left: 11em; 
    font-size: 30pt;
}

h2 {
    color: #000090   ;
    margin-left: 2em;
    font-size: 25pt;
}

h3 {
    color: #000050;
}

img {
     border: "0";
}

pre {
    font-family: 'Roboto Slab', serif;
    font-size: 14pt;
}

.c1 {
    color: #0066FF;
    margin-left: 1em;
    font-size: 18pt;
}

td {
    width: "100";
}

li, p {
    font-family: 'Ubuntu Mono';
	padding:5px 5px;
    text-align: justify;
}
